/*
  Theme Name: Builder - Html5 Construction template
  Author: marufsakhawat@gmail.com
  Support: marufsakhawat@gmail.com
  Description: HTML5 Construction template
  Version: 1.0
*/

/* CSS Index 
-----------------------------------
1. Base css
2. Header css
3.
*/

/* 1. Base css start */
/*
Fonts: Vollkorn & Roboto
font-family: 'Vollkorn', serif;
font-family: 'Roboto', sans-serif;
https://fonts.google.com/specimen/Roboto?query=r&sidebar.open=true&selection.family=Roboto:wght@300;400;500;700;900|Vollkorn:wght@400;500;600;700;800;900
*/
/*@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&family=Rajdhani:wght@300;400;500;600;700&display=swap');*/

body {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-size: 18px;
    font-weight: 400;
    line-height: 1.95;
    color: #464646;
    overflow-x: hidden;
}

a,
button {
    color: #919191;
    outline: medium none;
    -webkit-transition: all 0.3s ease-out 0s;
    -moz-transition: all 0.3s ease-out 0s;
    -ms-transition: all 0.3s ease-out 0s;
    -o-transition: all 0.3s ease-out 0s;
    transition: all 0.3s ease-out 0s;
}

a:focus,
button:focus {
    text-decoration: none;
    outline: none;
}

a:focus,
a:hover {
    color: #ccc;
    text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Vollkorn', serif;
    color: #292929;
    margin-top: 0px;
    margin-bottom: 15px;
    font-weight: 700;
    text-transform: normal;
}

h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
h6 a {
    color: inherit;
}

h1 {
    font-size: 40px;
}

h2 {
    font-size: 35px;
}

h3 {
    font-size: 28px;
}

h4 {
    font-size: 22px;
}

h5 {
    font-size: 18px;
}

h6 {
    font-size: 16px;
}

ul {
    margin: 0px;
    padding: 0px;
}

li {
    list-style: none
}

p {
    margin-bottom: 15px;
}

p:last-child {
    margin-bottom: 0;
}

img {
    max-width: 100%;
    height: auto;
}
img.fw {
    width: 100%;
    height: auto;
}
*::-moz-selection {
    background: #000;
    color: #fff;
    text-shadow: none;
}

::-moz-selection {
    background: #000;
    color: #fff;
    text-shadow: none;
}

::selection {
    background: #000;
    color: #fff;
    text-shadow: none;
}

*::-moz-placeholder {
    color: #555555;
    font-size: 14px;
    opacity: 1;
}

*::placeholder {
    color: #777;
    font-size: 14px;
    opacity: 1;
}

.container-fluid {
    padding: 0 35px !important;
}

/*section {
    border-bottom: 1px solid #D3D3D3;
}*/

.owl-item img {
    width: auto !important;
}

/*for section-padding start*/
.pd-t-150 {
    padding-top: 150px;
}

.pd-t-120 {
    padding-top: 120px;
}

.pd-t-100 {
    padding-top: 100px;
}

.pd-tb-150 {
    padding: 150px 0;
}

.pd-tb-120 {
    padding: 120px 0;
}

.pd-tb-100 {
    padding: 100px 0;
}

.pd-b-150 {
    padding-bottom: 150px;
}

.pd-b-120 {
    padding-bottom: 120px;
}

.pd-b-100 {
    padding-bottom: 100px;
}

/*for section-padding end*/

/*for background-image start*/
.bg-img {
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
}

.bg-img-tr {
    background-position: top right;
    background-size: cover;
    background-repeat: no-repeat;
}
.bg-img-tl {
    background-position: top left;
    background-size: cover;
    background-repeat: no-repeat;
}

/*for background-image end*/

/*gray-background start*/
.gray-bg {
    background-color: #F8F8F8;
}
.bg-soft-red {
    background: #FFDFE1;
}
/*gray-background end*/

/*area-title start*/
.area-title {
    margin-bottom: 55px;
}

.area-title h2 {
    font-size: 60px;
    font-weight: 700;
    color: #292929;
    margin-bottom: 0;
    line-height: 80px;
}

.area-title h5 {
    font-family: 'Roboto', sans-serif;
    color: #464646;
    font-size: 24px;
    font-weight: 400;
    line-height: 32px;
    
}
/*area-title end*/

/* btn default start */
.btn {
    -moz-user-select: none;
    background: #FF646C none repeat scroll 0 0;
    border: medium none;
    border-radius: 3px;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    font-size: 20px;
    font-weight: 700;
    letter-spacing: 1px;
    line-height: 1;
    margin-bottom: 0;
    padding: 13px 25px;
    text-align: center;
    text-transform: uppercase;
    touch-action: manipulation;
    transition: all 0.3s ease 0s;
    vertical-align: middle;
    white-space: nowrap;
}

.btn:hover {}

/* btn default end */

/*btn-box start*/
.btn-box {
	font-family: 'Vollkorn', serif;
	font-weight: 700;
	font-size: 20px;
    text-transform: uppercase;
    background-color: #FF646C;
    color: #fff;
    border: 0;
    padding: 12px 35px;
    cursor: pointer;
    border-radius: 3px;
    box-shadow: 0 0 5px #ccc;
}

.btn-box:hover {
    background-color: #EC5A61;
    color: #f1f1f1;
}

/*btn-box end*/

/*btn-inline start*/
.btn-inline {
    font-family: 'Rajdhani', sans-serif;
    text-transform: uppercase;
    color: #121212;
    font-size: 16px;
    display: inline-block;
    font-weight: 700;
    border-bottom: 1px solid;
}

.btn-inline:hover {
    color: #FFC428;
    border-color: #FFC428;
}
/*btn-inline end*/










/*social color start*/
/*
.social-links li a.facebook{
	color: #3b5999;
	background-color: ;
}
.social-links li a.twitter{
	color: #55acee;
	background-color: ;
}
.social-links li a.linkedin{
	color: #0077B5;
	background-color: ;
}
.social-links li a.pinterest{
	color: #bd081c;
	background-color: ;
}
*/
/*social color end*/
/* 1. Base css end */

/* 2. Header css start */
/*.header-area {
    position: relative;
}
*/
/*social color end*/

/*header-area start*/
.header-area {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    width: 100%;
    z-index: 3;
    background-color: transparent;
    padding: 15px 0;
}
.main-menu > ul > li {
    display: inline-block;
    position: relative;
}
.main-menu > ul > li > a {
    display: block;
    font-size: 18px;
    font-weight: 700;
    color: #292929;
    text-transform: uppercase;
    font-family: 'Vollkorn', serif;
    padding: 3px 20px 0;
    border: 1px solid transparent;
    transition: all 0.3s ease-out;
}
.main-menu > ul > li > a:hover, 
.main-menu > ul > li > a.active {
    color: #FF646C;
    border-color: #FF646C;
}

/*sub menu*/
.main-menu > ul > li > .submenu {
    position: absolute;
    left: 0;
    width: 165px;
    height: auto;
    background: #fff;
    text-align: left;
    box-shadow: 0 0 3px #ccc;
    top: 103%;
    opacity: 0;
    transition: all 0.3s ease-out;
}
.submenu > li {
    display: block;
}
.submenu > li > a {
    font-size: 15px;
    font-weight: 700;
    display: block;
    padding: 8px 20px;
    color: #333;
    border-bottom: 1px solid rgba(255, 100, 108, .45);
}
.submenu > li:last-child > a {
    border-bottom: 0;
}
.submenu > li > a:hover {
    color: #999;
}

.main-menu > ul > li:hover .submenu {
    top: 100%;
    opacity: 1;
}
/*responsive menu*/
@media (max-width: 991px) {
    .main-menu {
        display: none;
    }
}

.mean-menu {
    position: absolute;
    left: 0;
    right: 0;
    margin: 0 15px;
    z-index: 4;
}

.mean-container a.meanmenu-reveal {
    top: 13px;
    right: 0 !important;
    border: 0;
    background-color: #E12454;
    border: 1px solid #E12454;
    color: #fff;
}

.mean-container a.meanmenu-reveal span {
    background: #fff;
}

.mean-container .mean-nav {
    background: #fff;
    box-shadow: 0 0 5px #adadad;
    margin-top: 21px;
    width: 290px;
    float: right;
}

.mean-container .mean-nav ul li a {
    color: #333;
    font-weight: 700;
    border-top: 1px solid #e5e5e5;
}

.mean-container .mean-nav ul li a.mean-expand {
    height: 30px;
    line-height: 30px;
    background-color: #0f3365;
    color: #fff;
}

.mean-container .mean-nav ul li a.mean-expand:hover {
    background-color: #000;
    color: #fff;
}
/*responsive menu / meanmenu end*/
/*header-area end*/

/*hero-area start*/
.hero-area {
    height: 800px;
    width: 100%;
    position: relative;
}
.hero-content {
    padding-top: 100px;
}
.hero-content h2 {
    font-size: 70px;
    margin-bottom: 30px;
}

.hero-content h2 span {
    display: block;
    text-transform: uppercase;
    color: #FF646C;
}

.hero-car-image {
    position: absolute;
    right: 30px;
    bottom: -7px;
    width: 600px;
    height: auto;
}
/*hero-area end*/

/*why-chakaride-area start*/
.why-chakaride-area .grid-item {
    margin: 30px 0;
}
.why-chakaride-area .grid-item.orB {
    margin: 120px 0 30px;
}
.wcr-icon {
    width: 100px;
    height: 100px;
    line-height: 100px;
    text-align: center;
    margin: 0 auto 30px;
    background-color: #FFC2C5;
    border-radius: 50%;
}
/*why-chakaride-area end*/

/*what-we-offer-area start*/

.offer-content {
    color: #464646;
}
.offer-content h2 {
    font-size: 60px;
}
.offer-content h5 {
    font-family: 'Roboto', sans-serif;
    font-size: 24px;
    font-weight: 400;
    color: #464646;
    margin-bottom: 40px;
}
.offer-content h5 span {
    color: #FF646C;
}
.offer-content p {
    margin-bottom: 40px;
}
.offer-carousel .owl-dots {
    text-align: center;
    position: absolute;
    left: 0;
    right: 0;
    bottom: -75px;
    vertical-align: middle;
}
.offer-carousel .owl-dots div {
    display: inline-block;
    width: 11px;
    height: 11px;
    background: #FFD8D1;
    border-radius: 50%;
    margin: 7px 5px;
    transition: all 0.3s ease-out;
    
}
.offer-carousel .owl-dots div.active {
    background: #FF646C;
    width: 18px;
    height: 18px;
    margin: 3.5px 5px;
}


.offer-carousel .owl-nav div {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 60px;
    height: 60px;
    line-height: 60px;
    text-align: center;
    color: #fff;
    background: #FF646C;
    border-radius: 50%;
    left: -20px;
    opacity: 0;
    transition: all 0.3s ease-out;
}
.offer-carousel .owl-nav div.owl-next {
    left: auto;
    right: -20px;
}

.offer-carousel:hover .owl-nav div {
    left: -40px;
    opacity: 1;
}
.offer-carousel:hover .owl-nav div.owl-next {
    left: auto;
    right: -40px;    
}

.offer-image-join {
    display: none;
}

.offer-images-wrap {
    position: relative;
    width: 100%;
    height: 360px;
}
.offer-images-wrap img {
    position: absolute;
    width: auto !important;
}

.offer-images-wrap img.io-1 {
    left: 50px;
    bottom: 0;
}
.offer-images-wrap img.io-2 {
    left: 0;
    bottom: -33px;
    z-index: 1;
}
.offer-images-wrap img.io-3 {
    width: 23%!important;
    right: 38px;
    bottom: -29px;
}
/*what-we-offer-area end*/

/*review-carousel start*/
.review-area {
    padding-bottom: 150px;
}
.single-review {
    position: relative;
}
.review-content {
    padding: 30px;
    padding-right: 35px;
    padding-bottom: 55px;
    border-radius: 10px;
    box-shadow: 0 0 5px #ccc;
}
.review-author-image {
    width: 190px;
}
.review-author-image img {
    margin-top: 8px;
    border-radius: 20px;
}

.review-text-author-info p {
    font-style: italic;
    margin-bottom: 20px;
}
.review-text-author-info h3 {
    margin-bottom: 0;
    font-size: 24px;
    color: #000;
}
.review-text-author-info h3 span {
    display: block;
    font-weight: 400;
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
}
.review-quote {
    position: absolute;
    right: -32px;
    bottom: -26px;
}
.review-area {
    overflow: hidden;
}
.review-carousel .owl-stage-outer {
    overflow: inherit;
}
.review-carousel .owl-dots {
    text-align: center;
    position: absolute;
    left: 0;
    right: 0;
    bottom: -50px;
    vertical-align: middle;
}
.review-carousel .owl-dots div {
    display: inline-block;
    width: 11px;
    height: 11px;
    background: #FFD8D1;
    border-radius: 50px;
    margin: 0 5px;
    transition: all 0.3s ease-out;
    
}
.review-carousel .owl-dots div.active {
    background: #FF646C;
    width: 50px;
}

/*review-carousel end*/

/*footer-area start*/
.footer-area {
    color: #fff;
    background-color: #FF646C;
    font-size: 16px;
    position: relative;
    z-index: 2;
}
.footer-top.pd-tb-100 {
    padding-top: 70px;
    padding-bottom: 50px;
}
.footer-area a, .footer-widget h3 {
    color: #fff;
}
.footer-widget.footer-about {
    margin-bottom: 25px;
}
.footer-widget.footer-about img {
    margin-bottom: 25px;
}

.footer-widget h3 {
    position: relative;
    font-size: 20px;
    padding-bottom: 5px;
    margin-bottom: 30px;
}
.footer-widget h3:after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 58px;
    height: 1px;
    background: #fff;
}
.footer-widget.quick-links a,
.footer-widget.contact-us a {
    display: block;
    padding-bottom: 5px;
}
.footer-widget.contact-us a i.fa {
    margin-right: 8px;
}
.footer-widget.follow-us a {
    display: inline-block;
    margin-right: 10px;
    width: 35px;
    height: 35px;
    line-height: 33px;
    text-align: center;
    border: 1px solid;
    border-radius: 6px;
}



.newsletter-form {
    position: relative;
}

.newsletter-form input {
    display: block;
    width: 100%;
    background: transparent;
    border: 1px solid #fff;
    padding: 10px 20px;
    border-radius: 6px;
}

.newsletter-form button {
    position: absolute;
    right: 0;
    top: 0;
    height: 100%;
    border: 0;
    background: #fff;
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
    width: 60px;
    text-align: center;
    color: #FF646C;
}
.newsletter-form ::placeholder {
    color: #fff;
}
.copyright-area {
    border-top: 1px solid;
    padding: 20px 0;
}
.footer-image {
    position: absolute;
    right: 15%;
    bottom: 0;
    z-index: -1;
}
/*footer-area end*/



/*booking page start*/
/*breadcumb-area start*/
.breadcumb-area {
    margin-top: 107px;
    height: 480px;
}
.breadcumb-content h2 {
    font-size: 70px;
}
/*breadcumb-area end*/

/*reservation-area start*/
.reservation-area .row.mt-4 {
    margin-top: 30px !important;
    margin-bottom: 30px !important;
}
.reservation-wrap {
    padding: 60px;
}
.reservation-wrap h3 {
    color: #000;
    font-size: 24px;
    padding-bottom: 10px;
    position: relative;
    display: inline-block;
    margin-bottom: 30px;
}

.reservation-wrap h3:after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 1px;
    background: #FF646C;
}

.reservation-form input,
.reservation-form textarea {
    display: block;
    width: 100%;
    border: 0;
    border-radius: 0;
    padding: 13px 25px;
    resize: none;
}
.reservation-form textarea {
    min-height: 125px;
}
.reservation-form input::placeholder,
.reservation-form textarea::placeholder {
    font-weight: 700;
}
.reservation-form input:focus,
.reservation-form textarea:focus {
    border-color: #FF646C;
}
.reservation-form label {
    display: block;
    color: #464646;
}

.reservation-form span {
    position: relative;
    display: block;
}

.reservation-form span i {
    position: absolute;
    z-index: 1;
    left: 0;
    top: 0;
    height: 100%;
    line-height: 50px;
    width: 50px;
    text-align: center;
    background: #FF646C;
    color: #fff;
}

.reservation-form span input {
    padding-left: 65px;
}

.reservation-form span input::placeholder {
    font-weight: 700;
    color: #FF646C;
}
/*customer-info-form start*/
.customer-info-form-area {
    padding: 100px 90px;
}
.customer-info-form {
    
}
.reservation-form .form-control:focus {
    color: #fff;
    background-color: #FF646C;
    border-color: transparent;
    outline: 0;
    box-shadow: 0 0 0;
}
.reservation-form .form-control:focus::placeholder {
    color: #fff;
}
.form-check-wrap .form-check {
    display: inline-block;
    margin: 0 15px;
}
.form-check-input {
    margin-top: 11px;
}

/*form-check custom-control*/
.form-check-wrap .custom-control {
    display: inline-block;
    margin: 0 30px;
}
.custom-control-input.is-invalid~.custom-control-label::before, .was-validated .custom-control-input:invalid~.custom-control-label::before {
    background-color: #fff;
}

.custom-control-input.is-invalid~.custom-control-label, .was-validated .custom-control-input:invalid~.custom-control-label {
    color: inherit;
}
.custom-control {
  position: relative;
  display: block;
  min-height: 1.40625rem;
  padding-left: 1.5rem;
}

.custom-control-input {
  position: absolute;
  z-index: -1;
  opacity: 0;
}

.custom-control-label {
  position: relative;
  margin-bottom: 0;
}

.custom-control-label::before {
  position: absolute;
  top: 10px;
  left: -1.5rem;
  display: block;
  width: 1rem;
  height: 1rem;
  pointer-events: none;
  content: "";
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  background-color: #fff;
    border: 1px solid #FF646C;
}

.custom-control-label::after {
  position: absolute;
  top: 10px;
  left: -1.5rem;
  display: block;
  width: 1rem;
  height: 1rem;
  content: "";
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 50% 50%;
}

.custom-checkbox .custom-control-label::before {
  border-radius: 0;
}

.custom-checkbox .custom-control-input:checked ~ .custom-control-label::before {
  background-color: #FF646C;
}

.custom-checkbox .custom-control-input:checked ~ .custom-control-label::after {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3E%3Cpath fill='%23fff' d='M6.564.75l-3.59 3.612-1.538-1.55L0 4.26 2.974 7.25 8 2.193z'/%3E%3C/svg%3E");
}
/*form-check custom-control end*/
/*customer-info-form start*/
/*reservation-area end*/


/*booking page end*/

/*drivers-page start*/
.single-driver {
    padding: 40px 30px;
    margin: 15px 0;
    transition: all 0.3s ease-out;
}
.single-driver:hover {
    box-shadow: 0 0 5px #ccc;
}
.driver-image {
    margin-bottom: 20px;
}
.driver-image img {
    border-radius: 10px;
}
.driver-info h4 {
    margin-bottom: 10px;
    font-size: 20px;
}
.single-driver:hover h4 {
    color: #FF646C;
}
.driver-info p {
    font-size: 16px;
    line-height: 1;
}
/*drivers-page end*/

/*driver-details page start*/
.driver-details-area {
    position: relative;
}
.driver-details-page .driver-details-area .single-driver {
    background: #fff;
    position: relative;
    z-index: 1;
    box-shadow: 0 0 5px #ccc;
    margin: 0 25px;
}
.driver-details-content {
    padding: 120px 200px;
    padding-top: 225px;
    border: 1px solid #FF646C;
    position: relative;
    margin-top: -173px;
    text-align: center;
}
.driver-details-content p {
    position: relative;
    z-index: 1;
}
.driver-details-car-image {
    position: absolute;
    right: 15px;
    bottom: 96px;
    width: 355px;
}
/*driver-details page end*/

/*about-page start*/
.about-us-area {
    position: relative;
}
.about-us-content {
    padding: 100px 200px;
    border: 1px solid #FF646C;
}
.about-us-content p {
    position: relative;
    z-index: 1;
}
.about-us-passenger-image {
    position: absolute;
    right: 30px;
    bottom: 102px;
    width: 275px;
}
/*about-page end*/






/*all etc start*/
/*Preloader Start*/
.ctn-preloader {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    cursor: default;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 100%;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    z-index: 9000;
}

.ctn-preloader .animation-preloader {
    z-index: 1000;
}

.ctn-preloader .animation-preloader .spinner {
    -webkit-animation: spinner 1s infinite linear;
    animation: spinner 1s infinite linear;
    border-radius: 50%;
    /*border: 1px solid #FCB518;
  border-top-color: #002E5B;*/
    border: 3px solid #ccc;
    border-top-color: #FF646C;
    height: 150px;
    margin: 0 auto 3.5em auto;
    width: 150px;
}

.ctn-preloader .animation-preloader .txt-loading {
    font: bold 5em "Poppins", sans-serif;
    text-align: center;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.ctn-preloader .animation-preloader .txt-loading .letters-loading {
    color: #e5e5e5;
    position: relative;
}

.ctn-preloader .animation-preloader .txt-loading .letters-loading:before {
    -webkit-animation: letters-loading 4s infinite;
    animation: letters-loading 4s infinite;
    color: #FF646C;
    content: attr(data-text-preloader);
    left: 0;
    opacity: 0;
    font-family: "Poppins", sans-serif;
    position: absolute;
    top: -3px;
    -webkit-transform: rotateY(-90deg);
    transform: rotateY(-90deg);
}

.ctn-preloader .animation-preloader .txt-loading .letters-loading:nth-child(2):before {
    -webkit-animation-delay: 0.2s;
    animation-delay: 0.2s;
}

.ctn-preloader .animation-preloader .txt-loading .letters-loading:nth-child(3):before {
    -webkit-animation-delay: 0.4s;
    animation-delay: 0.4s;
}

.ctn-preloader .animation-preloader .txt-loading .letters-loading:nth-child(4):before {
    -webkit-animation-delay: 0.6s;
    animation-delay: 0.6s;
}

.ctn-preloader .animation-preloader .txt-loading .letters-loading:nth-child(5):before {
    -webkit-animation-delay: 0.8s;
    animation-delay: 0.8s;
}

.ctn-preloader .animation-preloader .txt-loading .letters-loading:nth-child(6):before {
    -webkit-animation-delay: 1s;
    animation-delay: 1s;
}

.ctn-preloader .animation-preloader .txt-loading .letters-loading:nth-child(7):before {
    -webkit-animation-delay: 1.2s;
    animation-delay: 1.2s;
}

.ctn-preloader .animation-preloader .txt-loading .letters-loading:nth-child(8):before {
    -webkit-animation-delay: 1.4s;
    animation-delay: 1.4s;
}

.ctn-preloader.dark .animation-preloader .spinner {
    border-color: rgba(255, 255, 255, 0.2);
    border-top-color: #fff;
}

.ctn-preloader.dark .animation-preloader .txt-loading .letters-loading {
    color: rgba(255, 255, 255, 0.2);
}

.ctn-preloader.dark .animation-preloader .txt-loading .letters-loading:before {
    color: #fff;
}

.ctn-preloader p {
    font-size: 14px;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 8px;
    color: #3b3b3b;
}

.ctn-preloader .loader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    font-size: 0;
    z-index: 1;
    pointer-events: none;
}

.ctn-preloader .loader .row {
    height: 100%;
}

.ctn-preloader .loader .loader-section {
    padding: 0px;
}

.ctn-preloader .loader .loader-section .bg {
    background-color: #ffffff;
    height: 100%;
    left: 0;
    width: 100%;
    -webkit-transition: all 800ms cubic-bezier(0.77, 0, 0.175, 1);
    -o-transition: all 800ms cubic-bezier(0.77, 0, 0.175, 1);
    transition: all 800ms cubic-bezier(0.77, 0, 0.175, 1);
}

.ctn-preloader .loader.dark_bg .loader-section .bg {
    background: #111339;
}

.ctn-preloader.loaded .animation-preloader {
    opacity: 0;
    -webkit-transition: 0.3s ease-out;
    -o-transition: 0.3s ease-out;
    transition: 0.3s ease-out;
}

.ctn-preloader.loaded .loader-section .bg {
    width: 0;
    -webkit-transition: 0.7s 0.3s allcubic-bezier(0.1, 0.1, 0.1, 1);
    -o-transition: 0.7s 0.3s allcubic-bezier(0.1, 0.1, 0.1, 1);
    transition: 0.7s 0.3s allcubic-bezier(0.1, 0.1, 0.1, 1);
}

@-webkit-keyframes spinner {
    to {
        -webkit-transform: rotateZ(360deg);
        transform: rotateZ(360deg);
    }
}

@keyframes spinner {
    to {
        -webkit-transform: rotateZ(360deg);
        transform: rotateZ(360deg);
    }
}

@-webkit-keyframes letters-loading {

    0%,
    75%,
    100% {
        opacity: 0;
        -webkit-transform: rotateY(-90deg);
        transform: rotateY(-90deg);
    }

    25%,
    50% {
        opacity: 1;
        -webkit-transform: rotateY(0deg);
        transform: rotateY(0deg);
    }
}

@keyframes letters-loading {

    0%,
    75%,
    100% {
        opacity: 0;
        -webkit-transform: rotateY(-90deg);
        transform: rotateY(-90deg);
    }

    25%,
    50% {
        opacity: 1;
        -webkit-transform: rotateY(0deg);
        transform: rotateY(0deg);
    }
}

@media screen and (max-width: 767px) {
    .ctn-preloader .animation-preloader .spinner {
        height: 8em;
        width: 8em;
    }

    .ctn-preloader .animation-preloader .txt-loading {
        font: bold 3.5em "Poppins", sans-serif;
    }
}

@media screen and (max-width: 500px) {
    .ctn-preloader .animation-preloader .spinner {
        height: 7em;
        width: 7em;
    }

    .ctn-preloader .animation-preloader .txt-loading {
        font: bold 2em "Poppins", sans-serif;
    }
}

/*Preloader End*//*all etc end*/